@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    scroll-behavior: smooth;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    transition: all .2s ease-in-out;
}

body {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(92, 28, 5);
    /* background-color: rgb(92, 28, 3); */
}

.cont {
    width: 90%;
    height: 85%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: rgb(4, 46, 4);
    padding: 2em;
    overflow-y: auto;
    /* background: rgb(49 118 61); */
}

h1 {
    color: #f5f5f5;
}

h3 {
    margin: 1em 0;
}

#game-container {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#board-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(var(--size, 8), 1fr);
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
}

.black,
.white {
    width: 80%;
    height: 80%;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#scores {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#scores>div p {
    color: white;
    font-size: 18px;
    font-weight: 600;
}


#idJoueur {
    color: #ccc;
    text-decoration: underline;
}

#afficheWiner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.726);
    z-index: 1;
    opacity: 1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

#afficheWiner .contenu {
    display: none;
    color: white;
    /* background-color: rgb(92, 28, 3); */
    background: linear-gradient(to bottom, rgb(92, 28, 3), rgb(4, 46, 4));
    /* background: rgb(4, 46, 4); */
    padding: 1em 3em;
    border-radius: 15px;
    width: 20%;
    transition: .3s ease-in-out;
    animation: bouge 3s linear infinite;
}

button {
    border-radius: 5px;
    padding: .9em 2.5em;
    border: none;
    background: #ccc;
    margin-top: 1.5em;
    cursor: pointer;
    position: relative;
}

button span {
    color: black;
    font-size: 1em;
    font-weight: 600;
}

button:hover {
    background: #cccccc79;
}

@keyframes bouge {
    0% {
        transform: translateY(-2%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2%);
    }
}

.image {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

.valeur {
    color: white;
    /* background-color: rgb(92, 28, 3); */
    background: linear-gradient(to bottom, rgb(92, 28, 3), rgb(4, 46, 4));
    /* background: rgb(4, 46, 4); */
    padding: 1em 3em;
    border-radius: 15px;
    width: 20%;
    transition: .3s ease-in-out;
    animation: bouge 3s linear infinite;
}

.joueur1 {
    text-align: left;
    background: #838282;
    border-radius: 8px;
    width: 100px;
    height: max-content;
    padding: .5em 1em;
    color: black;
    /* border: 5px solid black; */
}

.turn1 {
    text-align: left;
    background: #838282;
    border-radius: 8px;
    width: 100px;
    height: max-content;
    padding: .5em 1em;
    color: black;
    border: 3px solid black;
    transform: translateY(-10px);
    animation: pogoda 1s infinite normal linear;
}

.joueur2 {
    text-align: left;
    background: #838282;
    border-radius: 8px;
    width: 100px;
    height: max-content;
    padding: .5em 1em;
    color: black;
    /* border: 5px solid white; */
}

.turn2 {
    text-align: left;
    background: #838282;
    border-radius: 8px;
    width: 100px;
    height: max-content;
    padding: .5em 1em;
    color: black;
    border: 3px solid white;
    transform: translateY(-10px);
    animation: pogoda 1s infinite normal linear;
}

@keyframes pogoda {
    0% {
        border: 5px solid #1f1e1e86
    }

    50% {
        border: 5px solid yellow
    }

    100% {
        border: 5px solid #1f1e1e86
    }
}

.innerJ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.innerJ p {
    color: black !important;
}

.subInnerJ1 {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.bouleNoir {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: black;
}

.bouleBlanche {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: white;
}

#sunAnimation {
    position: absolute;
    z-index: 0;
    top: 400px;
    left: -100px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    overflow: hidden;
    animation: slonce 20s infinite normal linear,
        promienie 1s infinite;
    box-shadow: 0 0 10px yellow;
}

#moonAnimation {
    position: absolute;
    z-index: 0;
    top: 100px;
    left: 450px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
    animation: ksiezyc 20s 10s infinite normal linear;
    opacity: 0;
}

@keyframes slonce {
    0% {
        top: 450px;
        left: -100px;
    }

    25% {
        top: 275px;
        left: 300px;
    }

    50% {
        top: 100px;
        left: 50%;
    }

    75% {
        top: 275px;
        left: 1300px;
    }

    100% {
        top: 450px;
        left: 1900px;
    }
}

@keyframes promienie {
    0% {
        box-shadow: 0 0 10px yellow;
    }

    50% {
        box-shadow: 0 0 20px yellow;
    }

    100% {
        box-shadow: 0 0 30px yellow;
    }
}

@keyframes ksiezyc {
    0% {
        top: 450px;
        left: -100px;
        opacity: 0.2;
    }

    25% {
        top: 275px;
        left: 300px;
        opacity: 0.6;
    }

    50% {
        top: 100px;
        left: 50%;
        opacity: 1;
    }

    75% {
        top: 275px;
        left: 1300px;
        opacity: 0.6;
    }

    100% {
        top: 450px;
        left: 1900px;
        opacity: 0.2;
    }
}
